<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <h1 class="my-4">Dashboard</h1>
      <div class="row">
        <% lists.forEach((list) => { %>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <h5 class="card-title"><%= list.title %></h5>
              <a href="/lists/<%= list._id %>" class="btn btn-primary"
                >Manage Users</a
              >
            </div>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
  </body>
</html>
